@charset "ISO-8859-1";



nav {height: 150px;  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


background-image: url(/img/fundo.jpg); 
	background-repeat: no-repeat;

	background-size: cover !important;
	background-position: center;}




   img{
  
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  
  
	
 }


.container-Form{
	
  width: 150px;	
  margin-left:20px;
	
}

input {
  display: inline-block;
  padding-left: 10px;
  margin-left: 0%;
  background: #ffffff; 
  border-radius: 5px; font-size:15px; height: 30px; line-height: 50px; width:200px;
  border: 2px solid #d4d4d4;
  
 
}

.label-data{
	
margin-left:70px;
}
.data{
	
	margin-left:70px;
}


.btn-save.btn-primary{
	
	background: #01579B;
	font-size: 1.1em;
	padding: 0;
	height: 30px;
	margin-top:20px;
	margin-left:0;
	width: 70px;
	border-radius: 5px;
	
	
	
}

.alert.alert-success{
	
	margin-left: 30px;
	
	
}




.nav-item.dropdown{
	
	
	margin-top: 8px;
	padding: 10px;
	padding-top: 1px;
	
	
	
	
}



.nav-link.btn-danger{
	
	
	
	background: #b90000;
	
    border-radius: 3px;
    margin-left:200px;
     
	
	
}

